:host {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  line-height: 1;
  font-size: 16px;
  color: #fff;
  background-color: rgba(0,0,0, 0.1);
  border-radius: 2px;
  height: 30px;
  text-shadow: rgba(0,0,0,0.3) 0 1px 1px;
}

.progress--value {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
/*   background-image: linear-gradient(90deg, rgba(0,0,0,0.15), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,0.1)); */
  background-image: linear-gradient(90deg, rgba(0,0,0,0.1), rgba(0,0,0,0) 50%);
  background-color: #32CD32;
  border-radius: 2px;
}

.progress--label {
  padding: 0 0.5em;
}

.progress--percentage {
  padding: 0 0.25em;
}